#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background: linear-gradient(
    rgb(29, 101, 177, 0.05),
    rgb(29, 101, 177, 0.05),
    rgb(53, 143, 219, 0.05),
    rgb(76, 185, 252, 0.05),
    rgb(124, 190, 240, 0.05),
    rgb(145, 198, 240, 0.05)
  );
}
