btns-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-div {
  margin: auto;
  text-align: center;
  height: 42vh;
  width: 30vw;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}

.myTurn {
  background-color: rgb(145, 198, 240);
}

.waitingTurn {
  background-color: rgb(223 223 223);
}

#quit-img1 {
  height: 6vh;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  65% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.winAnimation {
  animation: grow 2s ease-in-out alternate;
}

.isWiningGif {
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Fsparkle-confetti-sticker-sparkle-confetti-falling-down-discover--651896114821292697%2F&psig=AOvVaw3vMfZ1A2XULIBTqQ2HLTEC&ust=1700037753565000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCKCcz6aMw4IDFQAAAAAdAAAAABAD")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
rgb(29,101,177)
rgb(29,101,177)
rgb(53,143,219)
rgb(76,185,252)
rgb(124,190,240)
rgb(145,198,240) */
